<% provide(:title, "Contact")%>
<h1>Contact</h1>
<p>At the moment I will not provide any contact information for you. Let's not touch base now, but still look forward to maybe seeing each others' info. Later.</p>